.Container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    @media screen and (min-width: 450px) {
            width: 450px;
        }

    .isAuthenticatedStyle {
    height: calc(100vh - 64px);
    }
}

.authenticated {
    min-height: calc(100vh - 64px);
}

