$gradient: linear-gradient(-58.2deg, rgba(40, 91, 212, 0.73) -3%, #ab35a373 49.3%, rgba(255, 204, 112, 0.37) 97.7%);
$btnBorderRadius: 18px;
$formLinkColor:rgb(84, 64, 196);
$black-color: #000;
$danger-color: #f31260;