@import '../../styles/variables';
.ModalBtn {
    position: absolute;
    bottom: 23%;
    left: 22%;
    transform: translateX(-40%);
    display: inline-block;

    & svg {
        width: 22px;
        height: 22px;
        // fill:rgb(255, 0, 123);
    }
}

.AdPhotoField {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.AdFileInputBtn {
    position: relative;
    border-radius: 25px;
    width: 280px;
    height: 170px;

    img {
        border-radius: 15px;
        width: 280px;
        height: 170px;
    }

}

.PhotoCameraIcon {
    border: 2px solid white;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    // composes: PhotoCameraIcon;
}
.RadioGroup {
    &>span {
        margin-left: 4px;
        margin-bottom: 6px;
    }

    &>div {
        padding: 7px 0;
        display: flex;
        justify-content: space-around;


        label {
            padding: 6px 12px;
            border-radius: 7px;
            border: 1px solid rgb(179, 179, 179);
            transition: background-color 300ms ease-in, color 300ms ease-in, border 300ms ease-in;

            // radio button circle-icon
            &>span {
                display: none;
            }
        }

        label[data-selected="true"] {
            border: 1px solid $danger-color;
            background-color: $danger-color;

            span {
                color: white;
            }
        }

    }
}