@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Ysabeau+Office:wght@1..1000&display=swap');
@import 'react-toastify/dist/ReactToastify.css';

body {
  margin: 0;
  font-family: "Ysabeau Office", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 200;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


  background-image: linear-gradient(-58.2deg, rgba(40, 91, 212, 0.73) -3%, rgba(171, 53, 163, 0.45) 49.3%, rgba(255, 204, 112, 0.37) 97.7%);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}