.NotFoundPage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    h3 {
        position: absolute;
        top: 27%;
        left: 6%;
        font-weight: 700;
        font-size: 40px;
        font-family: "Merienda", cursive;
        text-align: center;
        color: #5a53ff;
    }
}